.comment {
    border: 3px solid black;
    border-radius: 12px;
    margin: 36px;
    padding: 12px;
}

.profile-comment {

    background-color: #d0d0d0;
    display: inline-block;
    float: right;
    padding: 6px;
    border-radius: 12px;

}

.info-comment {
    display: block;
    float: top;
    margin-bottom: 36px;
}


.date-comment {

    background-color: #d0d0d0;
    display: inline-block;
    float: left;
    padding: 6px;
    border-radius: 12px;

}

.text-comment {

    background-color: #d0d0d0;
    display: block;
    border-radius: 12px;
    padding: 12px;
    width: 100%;
}

