body {
    margin: 0 auto;
}

/*#background{*/

    /*background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxURcGMejI8alW9012WRR1dM5HSUMHVCJa47fU9WhTRdbNA604") no-repeat;*/
    /*background-size: cover;*/
/*}*/

.slider {
    border: 3px solid #000000;
    border-radius: 10px;
}

.slider div{
    border:0;
}

.header{
    text-align: center;
}

.select-buttons{
    margin: 0 auto !important;
}

.leagues-dropdown{
    margin: 0 auto !important;
}

#LeagueDashboard {
    border: 2px solid #000000;
    border-radius: 7px;
    padding: 10px;
}

#games {
    border: 2px solid #000000;
    border-radius: 7px;
    padding: 10px;
    height: 510px;
}
