.news-text{
    text-align: right;
    color: #757575;
    border-radius: 4px;
    padding: 6px;
    transition-duration: 500ms;
    display: inline;
    float: right;

}

.news-text:hover{
    text-align: right;
    color: black;
    transition-duration: 500ms;
    cursor: pointer;

}

.main{
    display: inline;
    color: red;
    float: right;
    margin-left: 12px;
    margin-bottom: 4px;
}
.news-div{
    margin-bottom: 10px!important;
}

.news-date{
    margin: 4px;
    color: #555555;
    display: block;
    float: left;
    position: relative;
    padding: 4px;
    vertical-align: bottom !important;

}
.news-image{
    float: left !important;
    margin-right: 12px;

}