#site-name {
    font-size: 20px;
    padding-bottom: 10px;
    margin-left: 30px;
}

#site-name:hover {
    color: teal;
}


#search-bar {

}

#blank {
    width: 30% !important;
}

#profile-icon {
    float: left;
    padding-top: 16px;
    padding-bottom: 0;
    margin-bottom: -4px;
}

.profile-dropdown{

    margin-top: 15px !important; ;
}
.goals-text{
    font-size: 18px;
}
.game-status{
    text-align: center;
}

.match-result{
    min-width: 150px !important;
    width: 250px !important;
}