.league{
    text-align: center;
}
.goals-text{
    font-size: 18px;
}
.game-status{
    text-align: center;
}

.match-result{

    border: solid 2px #000;
    border-radius: 10px;
    margin: 10px;
}
