.visitor-goals {
    float: left;
    margin: 0 auto !important;
    padding: 10px;


}

.home-goals {
    float: right;
    margin: 0 auto !important;
    padding: 10px;


}

.home-logo {

    margin: 0 auto !important;
}

.goals {
    margin: 0 auto !important;
}

.time {
    font-size: 12px;
    text-align: center;
}

.results {
    margin: 0 auto !important;
    max-width: 200px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;

}

.time-icon {
    margin: 0 auto !important;

}
.container{
    margin-top: 10px;
    margin-bottom: 10px;
}