.visitor-goals {
    float: left;
    margin: 0 auto !important;
    padding: 10px;


}

.home-goals {
    float: right;
    margin: 0 auto !important;
    padding: 10px;


}

.home-logo {

    margin: 0 auto !important;
}

.goals {
    margin: 0 auto !important;
}

.time {
    font-size: 12px;
    text-align: center;
    margin-left: 10px !important;
    margin-right: 10px !important;

}

.results {
    background-color: #f5f5f5;
    border-radius: 4px;
    margin: 0 auto !important;
    padding: 30px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    transition-duration: 500ms;

}

.results:hover{
    transition-duration: 500ms;
    box-shadow: 0 0 1rem black

}

.time-icon {
    margin: 0 auto !important;

}
.container{
    margin-top: 10px;
    margin-bottom: 10px;
}