.member {
    border-radius: 5px;
    padding: 3px !important;
    margin: 8px !important;
    background-color: #f5f5f5;
    transition-duration: 500ms;
}
.member:hover{
    box-shadow: 0 0 1rem #353535;
    transition-duration: 500ms;

}

.position {
    text-align: right;
    color: #a5a5a5;
    margin-right: 8px;
    margin-top: -12px !important;

}

.name {
    display: block;
    text-align: right;
    color: #454545;
    margin-right: 8px;

}

