#MenuBar {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}
#site-name {
    font-size: 16px;
    padding-bottom: 10px;
    margin-left: 30px;
}

#site-name:hover {
    color: teal;
}

.menu-bar{
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 1500px;
}

#profile-icon {
    padding: 4px;

}

#search-icon {
    padding: 4px;

}

.profile-dropdown{
    top: 48px !important;
    left: -45% !important;
}

.search-dropdown{
    top: 64px !important;
    left: -40% !important;
}
