#site-name {
    font-size: 16px;
    padding-bottom: 10px;
    margin-left: 30px;
}

#site-name:hover {
    color: teal;
}


.menu-bar{
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 1200px;
}

#profile-icon {
    padding: 4px;
    margin-bottom: -4px;
}

#search-icon {
    padding: 4px;
    margin-bottom: -4px;
}

.profile-dropdown{
    margin-top: 30px !important;
    left: -45% !important;
}

.search-dropdown{
    margin-top: 40px !important;
    left: -40% !important;
}
