.footer{
    height: 400px;
    text-align: center;
    position: fixed;
    margin: 0 auto !important;
}

.media-list{
    margin-top: 30px !important;
}


.media-list >item{
    margin-left: 0 !important;
    background-color: red !important;
    display: none;
}
.icon:hover{
    cursor: pointer;
 }

.bottom-link{

    display: inline-flex;
    margin-left:  auto !important;
    margin-right: auto !important;
    margin-top: 200px;

}
.bottom-link .item {
    color: #757575 !important;
    transition-duration: 500ms;

}

.bottom-link .item:hover {
    color: #a5a5a5 !important;
    transition-duration: 500ms;

}


