.pic-news-div{
    padding: 0 !important;
    z-index: 0 !important;
    cursor: pointer;
}

.pic-news{
    display: block;
    float: right;
    vertical-align: bottom !important;
    text-align: right !important;
}
